
.image-product{
    width:180px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10px;
    
}
ul{
    list-style-type: none;
}
.products{
    display:grid;
    grid-template-columns: repeat(4, 0.1fr);
    grid-gap:10px;
}
.product{
    display:grid;
    justify-content: center;
    background-color: rgb(189, 189, 189);
    padding: 0px;
    height: 330px;
    width: 200px;
}
.product-price{
    color:red;
}
 
.buttonprimary{
    margin-left:70px;
    margin-bottom:60px;
    position: relative;
    top:-85px;
}    

.buttonprimary button{
    background-color:darkgoldenrod;
    border-radius: 5px;
    padding:5px;
    font-weight:bolder;
}
.sidebar{
    display:flex;
    justify-content: flex-end;
}
footer{
    text-align: center;
    border:1px solid black;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}